.left1 {
    padding: 40px;

    text-align: center;
}

.compic {
    max-width: 120px;
    max-height: 100px;

}

.right1 {
    padding: 40px;
    text-align: center;
}

.middle1 {
    padding: 40px;

    text-align: center;
}
